:root {
    --primary-color: #07070A;
    --secondary-color: #24272B;
    --accent-color1: #3E78B2;
    --accent-color2: #004BA8;
    --accent-color3: #4A525A;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

header {
    grid-column: 1/-1;
    grid-row: 1/3;
    background-color: var(--secondary-color);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

nav a {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    border: solid 2px white;
}

nav a:hover {
    background-color: var(--primary-color);
}

main {
    grid-column: 1/10;
    grid-row: 3/8;
}

aside {
    grid-column: 10/-1;
    grid-row: 3/8;
    background-color: var(--accent-color2);
    color: white;
}

footer {
    grid-column: 1/-1;
    grid-row: 8/-1;
    background-color: var(--secondary-color);
    color: white;
}