@media screen and (max-width: 499px) {
    :root {
        --primary-color: #6B4E71;
        --secondary-color: #F4D35E;
        --accent-color1: #000807;
        --accent-color2: #999799;
        --accent-color3: #3D518C;

        --heading-font: "Playfair Display";
        --paragraph-font: "Roboto";
    }

    header {
        background-color: var(--primary-color);
        color: white;
        margin: 1rem;
        padding: 1rem;
    }

    .navigation {
        list-style: none;
    }

    .navigation li {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
        margin-left: 500px;
        font-size: 1.5rem;
    }

    nav a {
        color: white;
        text-decoration: None;
        padding: 1rem;
        margin: 1rem;
    }

    nav a:hover {
        text-decoration: overline;
        text-decoration-color: var(--secondary-color);
    }

    #menu {
        display: block;
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
    }

    #menu::before {
        content: "≡";
    }

    #menu.show::before {
        content: "X";
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(9, 1fr);
        gap: 1rem;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        font-family: var(--heading-font);
        grid-column: 1/-1;
        grid-row: 1;
    }

    figure img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}